# Here We made HBASE Connection With Python and executed some commands for data insertion ,data deletion, data scan, batch execution

In [1]:
#pip install happybase

In [38]:
import happybase

connection = happybase.Connection('192.168.56.101')
table = connection.table('customer')

In [3]:
connection.tables()

[b'customer', b'employee', b'employee_1']

In [4]:
connection.is_table_enabled(b'customer')

True

In [5]:
row = table.row(b'Ramu')

In [6]:
row

{b'address:State': b'Karnataka',
 b'address:city': b'Banglore',
 b'address:street': b'whitefields',
 b'order:amount': b'20000',
 b'order:number': b'ord-02'}

In [7]:
print(row[b'order:number'])

b'ord-02'

In [8]:
rows = table.rows([b'Hemanth', b'Ramu'])
for key, data in rows:
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}

In [9]:
rows_as_dict = dict(table.rows([b'Hemanth', b'Ramu']))

In [10]:
rows_as_dict

{b'Hemanth': {b'address:city': b'Hyderabad',
  b'address:state': b'Telangana',
  b'address:street': b'madhapur',
  b'order:amount': b'232323',
  b'order:number': b'ord-01'},
 b'Ramu': {b'address:State': b'Karnataka',
  b'address:city': b'Banglore',
  b'address:street': b'whitefields',
  b'order:amount': b'20000',
  b'order:number': b'ord-02'}}

In [11]:
from collections import OrderedDict
rows_as_ordered_dict = OrderedDict(table.rows([b'Hemanth', b'Ramu']))

In [12]:
rows_as_ordered_dict

OrderedDict([(b'Hemanth',
              {b'address:city': b'Hyderabad',
               b'address:state': b'Telangana',
               b'address:street': b'madhapur',
               b'order:amount': b'232323',
               b'order:number': b'ord-01'}),
             (b'Ramu',
              {b'address:State': b'Karnataka',
               b'address:city': b'Banglore',
               b'address:street': b'whitefields',
               b'order:amount': b'20000',
               b'order:number': b'ord-02'})])

In [13]:
row = table.row(b'Hemanth', columns=[b'address:state', b'order:number'])
print(row[b'address:state'])
print(row[b'order:number'])

b'Telangana'
b'ord-01'

In [14]:
row = table.row(b'Hemanth', columns=[b'order:number'], include_timestamp=True)
value, timestamp = row[b'order:number']

In [15]:
print(value,timestamp)

b'ord-01' 1665902089881

In [16]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'vishal' {b'address:city': b'jaipur', b'address:state': b'Rajesthan', b'order:amount': b'30000'}

In [17]:
for key, data in table.scan(row_start=b'Hemanth'):
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'vishal' {b'address:city': b'jaipur', b'address:state': b'Rajesthan', b'order:amount': b'30000'}

In [27]:
table.put(b'vishal', {b'address:state': b'Rajesthan',
                       b'address:city': b'jaipur'})

In [19]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'vishal' {b'address:city': b'jaipur', b'address:state': b'Rajesthan', b'order:amount': b'30000'}

In [20]:
for key, data in table.scan(row_prefix=b'vishal'):
    print(key, data)

b'vishal' {b'address:city': b'jaipur', b'address:state': b'Rajesthan', b'order:amount': b'30000'}

In [23]:
table.delete(b'vishal')

In [28]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'vishal' {b'address:city': b'jaipur', b'address:state': b'Rajesthan'}

In [29]:
table.delete(b'vishal', columns=[b'address:city', b'order:amount'])

In [30]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'vishal' {b'address:state': b'Rajesthan'}

In [31]:
table.delete(b'vishal')

In [32]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}

In [35]:
b = table.batch()
b.put(b'krish', {b'address:state': b'karnataka', b'address:city': b'banglore'})
b.put(b'sunny', {b'order:amount': b'25000', b'order:number': b'ord_o3'})
b.put(b'krish', {b'order:status': b'Delivered', b'order:rating': b'Good'})
b.delete(b'vishal')
b.send()

In [36]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'krish' {b'address:city': b'banglore', b'address:state': b'karnataka', b'order:rating': b'Good', b'order:status': b'Delivered'}
b'sunny' {b'order:amount': b'25000', b'order:number': b'ord_o3'}

In [39]:
b = table.batch()
try:
    b.put(b'sharma', {b'address:state': b'karnataka', b'address:city': b'banglore'})
    b.put(b'sohel', {b'order:amount': b'25000', b'order:number': b'ord_o3'})
    b.put(b'wasim', {b'order:status': b'Delivered', b'order:rating': b'Good'})
    b.delete(b'sunny')
    b.send()
    raise ValueError("Something went wrong!")
except ValueError as e:
    # error handling goes here; nothing will be sent to HBase
    pass
else:
    # no exceptions; send data
    b.send()

In [40]:
for key, data in table.scan():
    print(key, data)

b'Hemanth' {b'address:city': b'Hyderabad', b'address:state': b'Telangana', b'address:street': b'madhapur', b'order:amount': b'232323', b'order:number': b'ord-01'}
b'Ramu' {b'address:State': b'Karnataka', b'address:city': b'Banglore', b'address:street': b'whitefields', b'order:amount': b'20000', b'order:number': b'ord-02'}
b'krish' {b'address:city': b'banglore', b'address:state': b'karnataka', b'order:rating': b'Good', b'order:status': b'Delivered'}
b'sharma' {b'address:city': b'banglore', b'address:state': b'karnataka'}
b'sohel' {b'order:amount': b'25000', b'order:number': b'ord_o3'}
b'wasim' {b'order:rating': b'Good', b'order:status': b'Delivered'}